# exclude everything
/configuration.php

/administrator/cache/*
/cache/*
/logs/*
/t3-assets/*
/tmp/*

# include
!/administrator/cache/index.html
!/cache/index.html
!/logs/index.html
!/t3-assets/index.html
!/tmp/index.html
